::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  background: #e9e9e9;
}
.hide {
  display: none;
}
.show {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}
input::-webkit-input {
  font-weight: 300;
  font-size: 1rem;
  color: #000000;
  font-family: "Montserrat";
  border: none;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
input[type="text"],
select,
textarea {
  outline: none;
  resize: none;
}
.bold {
  font-weight: 500;
}
.mainContainer {
  position: relative;
  float: left;
  height: auto;
  width: 70%;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 1rem;
  background: white;
  padding: 2rem;
  box-sizing: border-box;
  margin-left: 15%;
}
.mainContainer .inputField {
  position: relative;
  float: left;
  height: 15rem;
  width: 100%;
  border: 1px solid #c9c9c9;
}
.mainContainer .inputField .textField {
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  padding: 1rem;
  box-sizing: border-box;
}
.mainContainer .options {
  position: relative;
  float: left;
  height: 2rem;
  width: 100%;
  margin-top: 1rem;
}
.mainContainer .options .btnJson {
  position: relative;
  float: left;
  height: 1.6rem;
  width: auto;
  line-height: 1.7rem;
  font-size: 0.6rem;
  background: white;
  font-weight: 500;
  padding: 0 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #5d5d5d;
  border: 1.4px solid #7c7c7c;
  cursor: pointer;
  transition: 0.3s;
}
.mainContainer .options .audioFiles {
  position: relative;
  float: right;
  width: auto;
  display: none;
  margin-left: 1rem;
}
.mainContainer .options .audioBlock {
  position: relative;
  float: right;
  height: 2rem;
  width: auto;
}
.mainContainer .options .audioBlock .block {
  position: relative;
  float: left;
  height: 1.6rem;
  width: 1.6rem;
  border: 1.4px solid #7c7c7c;
  margin-right: 0.5rem;
  text-align: center;
  line-height: 1.6rem;
  color: #5d5d5d;
  font-weight: 400;
}
.mainContainer .options .audioBlock .block .blockIcon {
  position: absolute;
  height: 1.1rem;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}
.mainContainer .options .audioBlock .block.time {
  border: none;
  width: auto;
  margin-right: 1rem;
}
.mainContainer .options .audioBlock .block.selected {
  background: #7c7c7c;
}
.mainContainer .options .audioBlock .block:last-child {
  margin-right: 0;
}
.mainContainer .selectionContainer {
  position: relative;
  float: left;
  height: 3.5rem;
  width: 100%;
  margin-top: 2rem;
}
.mainContainer .selectionContainer .languages {
  position: relative;
  display: -webkit-inline-box;
  height: auto;
  width: 66%;
  overflow: auto;
}
.mainContainer .selectionContainer .languages .lang {
  position: relative;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1.2px solid #7c7c7c;
  text-align: center;
  line-height: 2rem;
  font-size: 0.6rem;
  background: white;
  color: #5d5d5d;
  margin-right: 0.5rem;
  padding: 0.2rem;
  font-weight: 500;
  cursor: pointer;
}
.mainContainer .selectionContainer .languages .lang.selected {
  background: #7c7c7c;
  color: white;
}
.mainContainer .selectionContainer .brands {
  position: relative;
  float: right;
  height: 3.5rem;
  width: auto;
  margin-right: 1rem;
}
.mainContainer .selectionContainer .brands .brand {
  position: relative;
  float: right;
  height: 2rem;
  width: 3rem;
  text-align: center;
  margin-right: 0.5rem;
  line-height: 3rem;
  text-transform: capitalize;
  color: #5d5d5d;
  opacity: 0.6;
  cursor: pointer;
}
.mainContainer .selectionContainer .brands .brand .brandImage {
  position: absolute;
  right: 0rem;
  height: 2.6rem;
  top: 50%;
  transform: translateY(-50%);
}
.mainContainer .selectionContainer .brands .brand .bar {
  position: absolute;
  height: 0.1rem;
  width: 1.8rem;
  background: #7c7c7c;
  bottom: -0.5rem;
  left: 58%;
  transform: translateX(-50%);
  display: none;
}
.mainContainer .selectionContainer .brands .brand.selected {
  opacity: 1;
}
.mainContainer .selectionContainer .brands .brand.selected .bar {
  display: block;
}
.mainContainer .selectionContainer .brands .brand:first-child {
  margin-right: 0;
  border-left: 1.4px solid #7c7c7c;
}
.mainContainer .selectionContainer .genders {
  position: relative;
  float: right;
  height: 3.5rem;
  width: auto;
  margin-right: -0.7rem;
}
.mainContainer .selectionContainer .genders .gender {
  position: relative;
  float: right;
  height: 2rem;
  width: 3rem;
  text-align: center;
  margin-right: 0.5rem;
  line-height: 3rem;
  text-transform: capitalize;
  color: #5d5d5d;
  opacity: 0.6;
  cursor: pointer;
}
.mainContainer .selectionContainer .genders .gender .genderImage {
  position: absolute;
  right: 0rem;
  height: 2.6rem;
  top: 50%;
  transform: translateY(-50%);
}
.mainContainer .selectionContainer .genders .gender .bar {
  position: absolute;
  height: 0.1rem;
  width: 1.8rem;
  background: #7c7c7c;
  bottom: -0.5rem;
  left: 58%;
  transform: translateX(-50%);
  display: none;
}
.mainContainer .selectionContainer .genders .gender.selected {
  opacity: 1;
}
.mainContainer .selectionContainer .genders .gender.selected .bar {
  display: block;
}
.mainContainer .selectionContainer .genders .gender:first-child {
  margin-right: 0;
  border-left: 1.4px solid #7c7c7c;
}
.mainContainer .voiceOptions {
  position: relative;
  float: left;
  height: auto;
  width: 100%;
  margin-top: 2rem;
}
.mainContainer .voiceOptions .voice {
  position: relative;
  float: left;
  height: auto;
  width: 7.8rem;
  border: 1px solid #7c7c7c;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 10px;
  color: #5d5d5d;
  cursor: pointer;
}
.mainContainer .voiceOptions .voice.selected {
  background: #7c7c7c;
  color: white;
}
.mainContainer .voiceOptions .voice.selected .imageBlock .image {
  border: 1.2px solid white;
}
.mainContainer .voiceOptions .voice .imageBlock {
  position: relative;
  float: left;
  height: 6.5rem;
  width: 100%;
  text-align: center;
}
.mainContainer .voiceOptions .voice .imageBlock .image {
  position: relative;
  display: inline-block;
  height: 4.5rem;
  width: 4.5rem;
  border: 1.2px solid #7c7c7c;
  border-radius: 50%;
  margin-top: 1.5rem;
}
.mainContainer .voiceOptions .voice .name {
  position: relative;
  float: left;
  height: 2rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  text-transform: capitalize;
}
.mainContainer .voiceOptions .voice:nth-child(5n) {
  margin-right: 0;
}
